{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Iniciar Sesión {% endblock %}</h2>
{% endblock %}

{% block content %}
<!-- 
<html>    
    <head>
        <title>Untitled</title>
    </head>
    
<body>
    <h1>LOGIN...</h1>
    <h3>iniciar sesion como:</h3>
</nav>
    <ul>
        <li><a href="loginParticipante.html">PARTICIPANTE</a></li>
        <li><a href="loginAdmi.html">ADMINISTRADOR</a></li>
        <li><a href="loginPonente.html">PONENTE</a></li>

    </ul>
</nav>

</body>
</html>   -->
<!-- "IS-prueba - copia - copia/myblog/templates/auth/loginParticipante.html-->
<div class="login">
    <form method="POST">
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <input type="submit", value="Iniciar Sesión">
    </form>
</div>
  
{% endblock %}